<!DOCTYPE html>
<html>
<head>
    <title>Prediction History</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2>Prediction History</h2>
<h3>Total Predictions: {{ total_predictions }}</h3>

<h3>Diabetic Cases: {{ diabetic_count }}</h3>

<h3>Non-Diabetic Cases: {{ non_diabetic_count }}</h3>
<h3>Prediction Analytics</h3>

<canvas id="pieChart" width="100" height="100"></canvas>
<br><br>

<h3>Age Distribution</h3>

<canvas id="barChart" width="600" height="250"></canvas>
<hr>

<table border="1">

<tr>
    <th>ID</th>
    <th>Pregnancies</th>
    <th>Glucose</th>
    <th>Blood Pressure</th>
    <th>Skin Thickness</th>
    <th>Insulin</th>
    <th>BMI</th>
    <th>DPF</th>
    <th>Age</th>
    <th>Prediction</th>
</tr>

{% for row in records %}

<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }}</td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
</tr>

{% endfor %}

</table>
<script>

const ctx = document.getElementById('pieChart');

new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Diabetic', 'Non-Diabetic'],
        datasets: [{
            data: [
                {{ diabetic_count }},
                {{ non_diabetic_count }}
            ]
        }]
    }
});

const barCtx = document.getElementById('barChart');

new Chart(barCtx, {
    type: 'bar',
    data: {
        labels: [
            {% for age in age_labels %}
                "{{ age }}",
            {% endfor %}
        ],
        datasets: [{
            label: 'Age',
            data: [
                {% for age in age_labels %}
                    {{ age }},
                {% endfor %}
            ]
        }]
    }
});
</script>

</body>
</html>